@import "src/styling/general.scss";

.header {
	position: absolute;
	width: clamp(300px, 90vw, 1440px);
	margin: 0 auto;
	background-color: transparent;
	z-index: 1000;
	display: flex;
	align-items: center;
	padding: 1rem 2rem;

	&__nav {
		position: relative;
		z-index: 1001;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		height: 100%;
		align-items: center;

		&--left,
		&--right {
			position: relative;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
			visibility: hidden;

			a {
				font-size: clamp(1rem, 1.25vw, 1.5rem);
				letter-spacing: clamp(0.05rem, 0.5vw, 0.1rem);
				text-shadow: 2px 2px 0px #3e3e3e;
				white-space: nowrap;
				padding: 1rem 0.5rem;
				display: inline-block;
				z-index: 9999;

				&.active {
					color: $gold-details-shadow;
				}
			}

			&.visible {
				visibility: visible;
			}
		}

		&--left.animate,
		&--right.animate {
			visibility: visible;
			animation: slideDown 2s ease-out forwards;
		}

		@keyframes slideDown {
			0% {
				transform: translateY(-100%);
				opacity: 0;
				visibility: visible;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}

		&--left {
			grid-column: 1;
		}

		&--center {
			grid-column: 2;

			h4 {
				line-height: 2.5rem;
			}
		}

		&--right {
			grid-column: 3;
		}
	}
}
